<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>ApplicationEntry</servlet-name>
		<servlet-class>sunlightMQ.ApplicationEntry</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ModuleMapServlet</servlet-name>
		<servlet-class>sunlightMQ.ModuleMapServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DOWNLOADENTRY</servlet-name>
		<servlet-class>sunlightMQ.DownloadEntry</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyImageGenerate</servlet-name>
		<servlet-class>sunlightMQ.ImageGenerator</servlet-class>
	</servlet>

	<welcome-file-list>
		<welcome-file>admin</welcome-file>
	</welcome-file-list>

	<!-- fckeditor -->
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
	<!-- fckeditor -->

	<servlet-mapping>
		<servlet-name>DOWNLOADENTRY</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ApplicationEntry</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationEntry</servlet-name>
		<url-pattern>/bussinessEntry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationEntry</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyImageGenerate</servlet-name>
		<url-pattern>/randomNumberImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModuleMapServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModuleMapServlet</servlet-name>
		<url-pattern>/router/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/404error.jsp</location>
	</error-page>
</web-app>
