* {
	margin: 0pt;;
	padding: 0pt;
}

body {
	background: #3B5998;;
	font-size: 12px;
}

a {
	color: #FFF;;
	text-decoration: none;
}

.header {
	height: 65px;;
	overflow: hidden;
}

.logo {
	z-index: 4;;
	top: 2px;;
	width: 227px;;
	height: 55px;;
	/*background: url(/images/logo.png);;
	background-repeat: no-repeat;;*/
	position: absolute;
	padding: 18px 20pt 0pt 50px;
	color: #FFF;
	font: bold 16px/20px Arial;
}

.vista-toolbar {
	z-index: 3;;
	position: absolute;;
	left: 0px;;
	top: 25px;;
	width: 100%;;
	height: 32px;;
	/*background: url(/images/v_bg.gif);;
	background-repeat: repeat-x;;*/
	background: #3B5998;; /*#E6F3ED*/
	clear: both;
}

.vista-toolbar ul {
	float: left;
	line-height: 32px;;
	list-style: none;;
	margin-left: 220px;;
	_margin-left: 110px;
	padding: 0 0 0 10px;;
	white-space: nowrap;
}

.vista-toolbar li {
	display: inline;;
	padding: 0;
}

.vista-toolbar a {
	color: #FFF;;
	float: left;;
	padding: 0 3px 0 3px;;
	text-decoration: none;;
	background: url(/images/v_btn_left.gif) no-repeat left center;;
	cursor: pointer;
}

.vista-toolbar a span {
	display: block;;
	float: none;;
	padding: 0 10px 0 7px;;
	background: url(/images/v_btn_right.gif) no-repeat right center;
}

.vista-toolbar a span img {
	border: none;;
	margin: 8px 4px 0 0; /*filter:Shadow( Strength=2, Direction=105 );*/
}

.vista-toolbar a:hover {
	background: url(/images/v_btn_left_hover.gif) no-repeat left center;
}

.vista-toolbar a:hover span {
	background: url(/images/v_btn_right_hover.gif) no-repeat right center;
}

.vista-toolbar a:active {
	background: url(/images/v_btn_left_hover.gif) no-repeat left center;
}

.vista-toolbar a:active span {
	background: url(/images/v_btn_right_hover.gif) no-repeat right center;
}

.vista-toolbar a.right {
	float: right;
}

.top_banner {
	z-index: 2;;
	position: absolute;;
	margin-top: 2px;;
	right: 0px;;
	float: right;;
	text-align: right;;
	top: 0px;;
	width: 185px;;
	clear: both;
}

.top_banner td {
	padding: 2px;
}

.ytb-sep {
	background-image: url(/images/grid-blue-split.gif);;
	background-position: center;;
	background-repeat: no-repeat;;
	display: block;;
	font-size: 1px;;
	height: 16px;;
	width: 4px;;
	overflow: hidden;;
	cursor: default;;
	margin: 0 2px 0;;
	border: 0;
}

.clear {
	clear: both;;
	width: 1px;;
	height: 0px;;
	visibility: hidden;;
	line-height: 0;
}