html {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

* {
	margin: 0pt;
	padding: 0pt;
}

body {
	height: 100%;
	font-size: 12px;
	color: rgb(51, 51, 51);
	line-height: 18px;
	text-align: left;
	background: #E9EAED;;
}

/*mask*/
div#mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: darkgray;
	filter: progid:   DXImageTransform . Microsoft . Alpha(opacity =   40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	visibility: hidden;
	z-index: 10;
}

div#mask iframe {
	width: 100%;
	height: 100%;
	background: #999;
	filter: progid:     DXImageTransform . Microsoft . Alpha(opacity =   20);
}

/* ----------- POPUP Div start ----------- */
div.window {
	clear: both;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 100;
}

#popwindow {
	border: 1px solid #E9EAED;
}

table.window {
	position: relative;
	margin: 0 auto;
	border-collapse: collapse;
}

td.left_top, td.right_top, td.left_bottom, td.right_bottom {
	height: 10px;;
	overflow: hidden;;
	padding: 0px !important;;
	width: 10px !important
}

table.window td.left_top {
	background: url("/images/window/bg_left_top.png") no-repeat left top;
}

table.window td.right_top {
	background: url("/images/window/bg_right_top.png") no-repeat right top;
}

table.window td.border {
	background: url("/images/window/bg_border.png") repeat left top;
}

table.window td.left_bottom {
	width: 10px;
	height: 10px;
	background: url("/images/window/bg_left_bottom.png") no-repeat left
		bottom;
}

table.window td.right_bottom {
	width: 10px;
	height: 10px;
	background: url("/images/window/bg_right_bottom.png") no-repeat right
		bottom;
}

table.window td.content {
	background-color: #FFF;
	padding: 0;
}

table.window td.content h2 {
	float: none !important;
	background: #E9EAED;
	border: 1px solid #E9EAED;
	font-size: 14px;
	font-weight: 700;
	margin: 0
}

table.window td.content h2 span {
	display: block;
	padding: 4px 10px 5px
}

table.window td.content h2 a.close-button {
	display: block;
	float: right;
	padding: 6px 10px;
	position: absolute;
	top: 10px;
	right: 6px;
	padding: 6px 10px;
	font-weight: 400;
	font-size: 12px
}

table.window td.content .buttonsDIV {
	padding: 5px;
	background: #E9EAED;
	text-align: center;
	border-top: 1px solid #E9EAED
}

table.inputTable td {
	height: 25px;
}

table.inputTable td.left_title {
	text-align: right;
	width: 100px;
}

#mainContent {
	margin-top: 5px;
	margin-right: 8px;
	background: white;
	border: 1px solid #C0C0C0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#contentArea {
	overflow-x: hidden;
	overflow-y: auto;
}

#contentArea fieldset {
	width: 97%;
	margin: 10px auto 0 auto;
	padding: 0;
	border: 1px solid #D0D0D0;
}

#contentArea fieldset legend {
	margin-left: 10px;
	font-weight: bold;
	color: #4F4F4F;
	font-weight: bold;
}

/**------POPUP Div end----------**/
a {
	color: rgb(0, 100, 180);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input, select, textarea {
	font: 12px/18px;
	vertical-align: middle;
	border: 1px solid rgb(127, 157, 185);
	color: rgb(51, 51, 51);
	padding: 0;
}

input {
	height: 18px;
	padding: 0 0 0 2px;
	line-height: 18px;
}

textarea {
	overflow-y: auto;
	padding: 0;
	width: 300px;
	height: 100px;
	border: 1px solid gray;
}

.blue, .blue a {
	color: #4F4F4F;
}

.red, .red a {
	color: rgb(255, 0, 0);
}

.mt10 {
	margin-top: 10px;
}

.floatl {
	float: left;
}

.floatr {
	float: right;
}

.clear {
	clear: both;
}

.btn_y, .btn_y:hover, .btn_bky, .btn_bky:hover {
	background: #4067B6;
	height: 24px;
	line-height: 24px;
	padding-left: 6px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}

.btn_y span, .btn_bky span, .btn_bky:hover span {
	background: #4067B6;
	padding: 0pt 10px 0pt 4px;
	color: #FFF;
	display: inline-block;
}

.btn_bky {
	background: none repeat scroll 0% 0% transparent;
}

.btn_bky span {
	background: none repeat scroll 0% 0% transparent;
}

.title, .title1 {
	height: 27px;
	padding: 6px 0pt 0pt 10px;
	background: url('/images/bk_body_001.gif') repeat-x scroll 0pt -200px
		transparent;
}

.headDiv {
	height: 25px;
	border-bottom: 1px solid #c0c0c0;
	background: #E9EAED;
	overflow: hidden;
}

.btn_t, .btn_t0 {
	height: 27px;
	overflow: hidden;
	margin-right: 5px;
	line-height: 29px;
	color: rgb(255, 255, 255);
	float: left;
}

.btn_t strong, .btn_t0 strong {
	font: bold 14px/29px;
}

.btn_t a, .btn_t0 a {
	background: url('/images/corner_left_001.gif') no-repeat scroll 0pt
		-39px transparent;
	display: block;
	padding-left: 6px;
	text-decoration: none;
}

.btn_t0 a {
	background-position: 0pt -200px;
}

.btn_t span, .btn_t0 span {
	background: url('/images/corner_right.gif') no-repeat scroll 100% -40px
		transparent;
	display: inline-block;
	padding: 0pt 10px 0pt 4px;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.btn_t0 span {
	background-position: 100% -200px;
	color: rgb(51, 51, 51);
}

.main {
	width: 100%;
	background: none repeat scroll 0% 0% #E9EAED;
	min-height: 100%;
}

.main_b {
	width: 100%;
	border-top: 2px solid #c0c0c0;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.title1 {
	padding-left: 0pt;
}

.new_column {
	width: 32%;
	margin-left: 1%;
	float: left;
}

.new_column1 {
	width: 95%;
	margin-left: 1%;
	float: left;
}

.list_column {
	border-right: 1px solid rgb(152, 191, 232);
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color rgb(152, 191, 232) rgb(152, 191, 232);
	height: 125px;
}

.list_column1 {
	border-right: 1px solid rgb(152, 191, 232);
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color rgb(152, 191, 232) rgb(152, 191, 232);
	height: 165px;
}

.list_column td {
	border-bottom: 1px dotted rgb(222, 222, 222);
	text-align: left;
	padding: 3px 0pt 3px 10px;
}

.list {
	background: #D0D0D0;
	margin-top: 10px;
	width: 97%;
}

.list tr {
	background: white;
}

.list tr:hover {
	background-color: #e0f1fe;
}

.list th {
	height: 20px;
	background: #F9F9F9;
	text-align: center;
	color: #4F4F4F;
	font-weight: normal;
}

.list td {
	text-align: center;
	padding: 2px;
}

.list .align {
	text-align: left;
	padding-left: 10px;
}

.icon_add, .icon_delete, .icon_edit, .icon_check, .icon_sign, .icon_pair,
	.icon_mail, .icon_view {
	background: url('/images/icon_house.gif') no-repeat scroll 0% 0%
		transparent;
	padding-left: 22px;
	display: inline-block;
}

.icon_add {
	background-position: 0pt 4px;
}

.page {
	padding: 5px 15px 0pt 10px;
	background: #E9EAED;
	height: 25px;
	margin-top: 0px;
	border-top: 1px solid #C0C0C0;
}

div.button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.itime {
	background: #fff url(/images/time.gif) right center no-repeat;;
	border: 1px solid #5D9AC7;;
	padding: 1px;;
	height: 18px;;
	line-height: 20px;
	width: 100px;
}

.btn_bb1, .btn_bb1:hover, .btn_bb2, .btn_bb2:hover {
	background: url('/images/corner_left_001.gif') no-repeat scroll 0% 0%
		transparent;
	height: 30px;
	font: bold 14px/30px '瀹嬩綋';
	margin-right: 10px;
	padding-left: 6px;
	display: inline-block;
}

.btn_bb1 {
	background-position: 0pt -80px;
}

.btn_bb1:hover {
	background-position: 0pt -120px;
}

.btn_bb1 span, .btn_bb1:hover span, .btn_bb2 span, .btn_bb2:hover span {
	background: url('/images/corner_right.gif') no-repeat scroll 0% 0%
		transparent;
	padding: 0pt 10px 0pt 4px;
	color: rgb(255, 255, 255);
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}

.btn_bb1 span {
	background-position: 100% -80px;
}

.btn_bb1:hover span {
	background-position: 100% -120px;
}

.btn_m, .btn_m:hover {
	background: url('/images/corner_left_001.gif') no-repeat scroll 0pt
		-360px transparent;
	height: 24px;
	line-height: 24px;
	padding-left: 6px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}

.btn_m:hover {
	background-position: 0pt -400px;
}

.btn_m span, .btn_m:hover span {
	background: url('/images/corner_right.gif') no-repeat scroll 100% -360px
		transparent;
	padding: 0pt 10px 0pt 4px;
	color: rgb(51, 51, 51);
	display: inline-block;
}

.btn_m:hover span {
	background-position: 100% -400px;
}

.btn_b, .btn_b:hover {
	background: url('/images/corner_left_001.gif') no-repeat scroll 0pt
		-240px transparent;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;
	padding-left: 6px;
	float: left;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}

.btn_b:hover {
	background-position: 0pt -280px;
}

.btn_b span, .btn_b:hover span {
	background: url('/images/corner_right.gif') no-repeat scroll 100% -240px
		transparent;
	padding: 0pt 10px 0pt 4px;
	color: rgb(51, 51, 51);
	display: inline-block;
}

.btn_b:hover span {
	background-position: 100% -280px;
}

.btn_by, .btn_by:hover {
	background: url('/images/corner_left_001.gif') no-repeat scroll 0pt
		-280px transparent;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;
	padding-left: 6px;
	float: left;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}

.btn_by:hover {
	background-position: 0pt -240px;
}

.btn_by span, .btn_by:hover span {
	background: url('/images/corner_right.gif') no-repeat scroll 100% -280px
		transparent;
	padding: 0pt 10px 0pt 4px;
	color: rgb(51, 51, 51);
	display: inline-block;
}

.btn_by:hover span {
	background-position: 100% -240px;
}

.search {
	width: 100%;
	background: none repeat scroll 0% 0% #E9EAED;
	border-bottom: 1px solid #C0C0C0;
	clear: both;
	overflow: hidden;
}

.search dt, .search dd {
	width: 320px;
	height: 24px;
	padding: 2px 0pt;
	float: left;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.search dd {
	width: 160px;
}

.search .righttd {
	text-align: right;
	padding-right: 15px;
}

.tool {
	height: 28px;
	padding: 9px 10px 0pt;
	background: url('/images/bk_body_001.gif') repeat-x scroll 0pt -302px
		rgb(255, 255, 255);
	border-bottom: 1px solid rgb(157, 195, 232);
}

.tip {
	background: url('/images/icon_tip.gif') no-repeat scroll 0pt 3px
		transparent;
	line-height: 27px;
	padding-left: 20px;
	float: left;
}

.maintab {
	margin-top: 16px;
	margin-bottom: 18px;
	width: 90%;
	border-collapse: collapse;
	float: left;
}

.searchtab {
	margin-top: 16px;
	margin-bottom: 18px;
	width: 10%;
	border-collapse: collapse;
	float: right;
}

.searchtab td {
	vertical-align: middle;
}

.maintab td, .searchtab td {
	vertical-align: middle;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

.maintab .titleTd {
	color: #996600;
	padding-left: 5px;
	text-align: right;
	border: 1px solid black;
	height: 25px;
	line-height: 25px;
}

.maintab .valueTd {
	color: green;
	padding-left: 5px;
	text-align: left;
	border: 1px solid black;
	height: 25px;
	line-height: 25px;
}

.maintab td.leftTitle {
	text-align: right;
	padding-left: 20px;
	width: 120px;
}

.darkblue_td {
	border: 1px solid black;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bolder;
	background-color: #74ABB5;
	padding-left: 10px;
	padding-right: 10px;
}

.lightblue_td {
	border: 1px solid black;
	background-color: #EBF5F1;
	padding: 5px;
	font-size: 14px;
}

a.blueBtn {
	border: 2px double white;
	height: 23px;
	line-height: 23px;
	background-color: #99D5FF;
	text-decoration: none;
}

.infotab {
	border: 1px solid #98BFE8;
	background-color: #E9F2FB;
	margin-top: 5px;
}

.statusSelect {
	width: 100%;
}

.statusSelect span {
	float: left;
	height: 30px;
	line-height: 30px;
	background-color: #e3f4fe;
	font-weight: bold;
	padding-left: 5px;
	font-size: 12px;
}

.statusSelect li {
	float: left;
	height: 30px;
	line-height: 30px;
	background-color: #e3f4fe;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #0064B4;
	list-style-type: none;
}

.statusSelect li.select {
	background-color: #bfddff;
}

.record th, .lrecord th {
	font-weight: normal;
	text-align: right;
	padding: 8px 5px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.record td, .lrecord td {
	text-align: left;
	padding: 8px 0pt;
	border-bottom: 1px solid rgb(238, 238, 238);
	line-height: 22px;
}

textarea.shortArea {
	width: 190px;
	height: 75px;
	border: 1px solid #B5B8C8;
}

textarea.normalArea {
	width: 300px;
	height: 75px;
	border: 1px solid #B5B8C8;
}

textarea.longArea {
	width: 700px;
	height: 75px;
	border: 1px solid #B5B8C8;
}

input.numberInput {
	width: 80px;
	border: 1px solid #B5B8C8;
}

input.shortInput {
	width: 150px;
	border: 1px solid #B5B8C8;
}

input.normalInput {
	width: 250px;
	border: 1px solid #B5B8C8;
}

input.longInput {
	width: 700px;
	border: 1px solid #B5B8C8;
}

select.shortSel {
	width: 120px;
	border: 1px solid #B5B8C8;
	margin-top: 0;
}

select.normalSel {
	width: 250px;
	border: 1px solid #B5B8C8;
	margin-top: 0;
}

select.longSel {
	width: 200px;
	border: 1px solid #B5B8C8;
	margin-top: 0;
}

textArea.shortTextArea {
	width: 150px;
	border: 1px solid #B5B8C8;
	margin-bottom: 8px;
}

textArea.normalTextArea {
	width: 250px;
	border: 1px solid #B5B8C8;
	margin-bottom: 8px;
}

textArea.normalTextArea2 {
	width: 440px;
	border: 1px solid #B5B8C8;
	margin-bottom: 8px;
}

textArea.longTextArea {
	width: 700px;
	border: 1px solid #B5B8C8;
	margin-bottom: 8px;
}

.marleft50 {
	margin-left: 50px;
}

/*label Style*/
ul.label {
	margin: 3px 0 0 20px;
	height: 17px;
	display: block;
}

ul.label li {
	margin: 0 5px 0 0;
	padding: 0 0 0 10px;
	height: 27px;
	list-style: none;
	_background: url("/images/button_nav_left.gif") no-repeat top left;
	display: block;
	float: left;
}

ul.label li:hover {
	_background: url("/images/button_nav_left.gif") no-repeat -27px left;
}

ul.label li.on {
	_background: url("/images/button_nav_left.gif") no-repeat bottom left;
	_background: url("/images/button_nav_left.gif") no-repeat -54px left;
}

ul.label li span {
	margin: 0;
	padding: 0 5px 0 0;
	height: 27px;
	_background: url("/images/button_nav_right.gif") no-repeat top right;
	display: inline-block;
	cursor: pointer;
}

ul.label li:hover span {
	_background: url("/images/button_nav_right.gif") no-repeat -27px right;
}

ul.label li.on span {
	margin: 0;
	padding: 0 5px 0 0;
	height: 27px;
	_background: url("/images/button_nav_right.gif") no-repeat bottom right;
	display: inline-block;
}

ul.label li span a.text {
	margin-right: 5px;
	height: 27px;
	line-height: 27px;
	font-size: 9pt;
	text-decoration: none;
	color: #999;
	display: inline-block;
	float: left;
}

ul.label li span a.text:hover {
	color: #4F4F4F;
}

ul.label li.on span a.text, ul.label li.on span a.text:hover {
	color: #4F4F4F;
	cursor: default;
}

ul.label li span a.close_tag {
	margin-top: 7px;
	width: 11px;
	height: 11px;
	text-decoration: none;
	background: url("/images/icon_tag_close.gif") no-repeat top left;
	display: block;
	float: left;
}

ul.label li:hover span a.close_tag, ul.label li.on span a.close_tag {
	background: url("/images/icon_tag_close_on.gif") no-repeat top left;
}

ul.label li span a.close_tag:hover {
	background: url("/images/icon_tag_close_hover.gif") no-repeat top left;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

div.clear {
	clear: all;
}

div.search input {
	height: 18px;
	border: #B5B8C8 1px solid;
	width: 150px;
}

div.search select {
	height: 22px;
	border: #B5B8C8 1px solid;
}

ul.buttons {
	margin: 0 0 0 20px;
	height: 17px;
	display: block;
	float: right;
	padding: 10px;
	width: 100%;
}

ul.buttons li {
	margin-right: 20px;
	padding-top: 2px;
	padding-right: 5px;
	text-indent: 25px;
	list-style: none;
	float: left;
	border: 1px solid #c0c0c0;
	background-color: #F6F7F9;
}

ul.buttons li:hover {
	background-color: yellow;
}

ul.buttons li a {
	color: #4F4F4F;
	text-decoration: none;
}

ul.buttons li a:hover {
	background: yellow;
}

.create-icon {
	background: url(/images/icon/task.png) no-repeat 5px 2px
}

.delete-icon {
	background: url(/images/icon/delete.png) no-repeat 5px 2px
}

.delete-all-icon {
	background: url(/images/icon/delete-all.png) no-repeat 5px 2px
}

.delete-selected-icon {
	background: url(/images/icon/delete-selected.png) no-repeat 5px 2px
}

.modify-icon {
	background: url(/images/icon/modify.png) no-repeat 5px 2px
}

.view-icon {
	background: url(/images/icon/view.png) no-repeat 5px 2px
}

.save-icon {
	background: url(/images/icon/save.png) no-repeat 5px 2px
}

.save-all-icon {
	background: url(/images/icon/save-all.png) no-repeat 5px 2px
}

.save-as-icon {
	background: url(/images/icon/save-as.png) no-repeat 5px 2px
}

.submit-icon {
	background: url(/images/icon/up.png) no-repeat 5px 2px
}

.reset-icon {
	background: url(/images/icon/reset.png) no-repeat 5px 2px
}

.cancel-icon {
	background: url(/images/icon/cancel.png) no-repeat 5px 2px
}

.tools-icon {
	background: url(/images/icon/tools.png) no-repeat 5px 2px
}

.import-icon {
	background: url(/images/icon/import.png) no-repeat 5px 2px
}

.export-icon {
	background: url(/images/icon/export.png) no-repeat 5px 2px
}

.template-icon {
	background: url(/images/icon/template.png) no-repeat 5px 2px
}

.undo-icon {
	background: url(/images/icon/undo.png) no-repeat 5px 2px
}

.redo-icon {
	background: url(/images/icon/redo.png) no-repeat 5px 2px
}

.copy-icon {
	background: url(/images/icon/copy.png) no-repeat 5px 2px
}

.cut-icon {
	background: url(/images/icon/cut.png) no-repeat 5px 2px
}

.paste-icon {
	background: url(/images/icon/paste.png) no-repeat 5px 2px
}

.list-icon {
	background: url(/images/icon/list.png) no-repeat 5px 2px
}

.tree-icon {
	background: url(/images/icon/tree.png) no-repeat 5px 2px
}

.refresh-icon {
	background: url(/images/icon/refresh.png) no-repeat 5px 2px
}

.forward-icon {
	background: url(/images/icon/forward.png) no-repeat 5px 2px
}

.back-icon {
	background: url(/images/icon/undo.png) no-repeat 5px 2px
}

.previous-icon {
	background: url(/images/icon/previous.png) no-repeat 5px 2px
}

.next-icon {
	background: url(/images/icon/next.png) no-repeat 5px 2px
}

.up-icon {
	background: url(/images/icon/up.png) no-repeat 5px 2px
}

.down-icon {
	background: url(/images/icon/down.png) no-repeat 5px 2px
}

.left-icon {
	background: url(/images/icon/left.png) no-repeat 5px 2px
}

.right-icon {
	background: url(/images/icon/right.png) no-repeat 5px 2px
}

.help-icon {
	background: url(/images/icon/help.png) no-repeat 5px 2px
}

.tips-icon {
	background: url(/images/icon/tips.png) no-repeat 5px 2px
}

.search-icon {
	background: url(/images/icon/search.png) no-repeat 5px 2px
}

.browser-icon {
	background: url(/images/icon/browser.png) no-repeat 5px 2px
}

.check-icon {
	background: url(/images/icon/check.png) no-repeat 5px 2px
}

.check-all-icon {
	background: url(/images/icon/check-all.png) no-repeat 5px 2px
}

.uncheck-icon {
	background: url(/images/icon/uncheck.png) no-repeat 5px 2px
}

.import-icon {
	background: url("/images/icon/import.png") no-repeat 5px 2px;
}

.print-icon {
	background: url("/images/icon/print.png") no-repeat 5px 2px;
}

.email-icon {
	background: url("/images/icon/email.png") no-repeat 5px 2px;
}

.cost-icon {
	background: url("/images/icon/cost.png") no-repeat 5px 2px;
}

.sms-icon {
	background: url("/images/icon/send-message.png") no-repeat 5px 2px;
}

.delivery-icon {
	background: url("/images/icon/delivery.png") no-repeat 5px 2px;
}

.folder-icon {
	background: url("/images/icon/folder_open.gif") no-repeat 5px 2px;
}

.register-icon {
	background: url("/images/icon/finish.png") no-repeat 5px 2px;
}

.good-icon {
	background: url("/images/icon/free.png") no-repeat 5px 2px;
}

input[type="radio"] {
	border: none;
	background-color: white;
}

input[type="checkbox"] {
	border: none;
	background-color: white;
}

.operbtn {
	height: 22px;
	margin-left: 5px\9;
}

#reportDetail ul li {
	float: left;
	list-style: none;
	height: 25px;
	width: 60px;
}

.searchbtn {
	width: 52px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	background: url(/images/bg_check_but.gif);
	_overflow: hidden;
	border: none;
}

#searchShowDiv {
	display: none;
	width: 202px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
	position: absolute;
	top: 25px;
	left: 0"
}

.zhiyuanzhe left {
	position: relative;
	padding-top: 5px
}

fieldset .maintab input[type="button"] {
	width: 52px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	background: url(/images/bg_check_but.gif);
	_overflow: hidden;
	border: none;
}

.pop_search {
	width: 100%;
	padding: 6px 10px;
	clear: both;
}

.pop_search dd {
	width: auto;
	height: 24px;
	padding: 2px 0pt;
	float: left;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.pop_search .righttd {
	text-align: right;
	padding-right: 15px;
}