html, body, dt, dd, ul, li {
	margin: 0pt;
	padding: 0pt;
	overflow: hidden;
}

body {
	font-size: 14px;
	color: rgb(51, 51, 51);
	text-align: left;
	background: #E9FFFB;
}

a {
	color: rgb(10, 143, 218);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#login .copyright {
	color: rgb(153, 153, 153);
	text-align: center;
	font: 12px/24px Arial;
}

#login .logo {
	margin-top: 30px;
	text-align: center;
}

#login .logo h1 {
	
}

#login .main {
	width: 496px;
	height: 340px;
	margin: 120px auto 80px;
	background: url('/images/adminLogin/bg_login.gif') no-repeat scroll 0%
		0% transparent;
}

#login .main dl {
	padding: 10px 0pt 0pt 90px;
}

#login .main dt {
	margin-bottom: 14px;
}

#login .main dd {
	padding-left: 52px;
	margin-bottom: 14px;
	font-size: 12px;
}

#login .main dt input {
	width: 200px;
	height: 20px;
	background: none repeat scroll 0% 0% rgb(250, 254, 255);
	vertical-align: middle;
	border: 1px solid rgb(10, 143, 218);
	padding: 2px 4px;
	font: bold 16px/20px Arial;
}

.btn_out, .btn_over {
	width: 83px;
	height: 32px;
	background: url('/images/adminLogin/button_login.gif') no-repeat scroll
		0% 0% transparent;
	display: block;
	border: 0pt none;
	cursor: pointer;
}

#login .main ul {
	width: 430px;
	margin: 70px 0pt 0pt 55px;
	font: 12px/24px;
	color: rgb(153, 153, 153);
}

#login .main .title {
	width: 430px;
	font: bold 14px/30px;
	background: none repeat scroll 0% 0% transparent;
	padding-left: 2px;
	color: rgb(136, 136, 136);
}

#login .main li {
	width: 200px;
	float: left;
	padding-left: 15px;
	background: url('/images/adminLogin/icon_head.gif') no-repeat scroll 0pt
		-355px transparent;
	list-style: none outside none;
}

.title, .title1 {
	height: 27px;
	padding: 6px 0pt 0pt 10px;
	background: url('/images/adminLogin/bg_body.gif') repeat-x scroll 0pt
		-200px transparent;
}

.headDvi .right {
	float: right;
}

.headDiv .left {
	float: left;
}