body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
	pre, fieldset, lengend, button, input, textarea, th, td, a {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%
}

body, button, input, select, textarea {
	font: 12px/1.6 verdana, "\5b8b\4f53", sans-serif;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4, h5, h6 {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	display: inline
}

address, cite, dfn, em, var {
	font-style: normal;
}

code, kbd, pre, samp, tt {
	font-family: Arial;
}

small {
	font-size: 12px;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #007eb2;
	family: 'ËÎÌå'
}

a:hover {
	text-decoration: underline;
	color: #ff6600
}

a img {
	border-color: #ddd;
	border: 1px
}

a:hover {
	
}

a:hover img {
	
}

.light {
	color: #007eb2
}

.nor, .nor a {
	text-decoration: none;
	color: #666
}

.nor:hover, .nor:hover a {
	text-decoration: underline;
	color: #ff6600
}

abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

q:before, q:after {
	content: '';
}

fieldset, img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border: none;
	height: 1px;
}

body {
	color: #666;
	background: #E9EAED;
}

img, input, select, button {
	vertical-align: middle;
}
/*g*/
.show {
	display: block;
}

.hide {
	display: none;
}

.clear {
	clear: both;
	width: 100%;
	float: left;
	overflow: hidden;
}

.red {
	color: #f00
}

.orange {
	color: #f90
}

.green {
	color: #1e9a01
}

.gray {
	color: #999
}

a.blue {
	color: #2b4a78 !important;
}

a.blue:hover {
	
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.fz12 {
	font-size: 12px
}

.fz14 {
	font-size: 14px
}

.w60 {
	width: 60px !important;
}

.w_a {
	width: auto !important;
}

.w700 {
	width: 700px
}

.w960 {
	width: 960px
}

.m20 {
	margin: 20px;
}

.m4 {
	padding: 4px;
}

.ml60 {
	margin-left: 60px !important;
}

.mb40 {
	margin-bottom: 40px;
}

.bgNone {
	background: none !important
}

.bdNone {
	border: none !important
}

.inputStyle {
	border: 1px solid #7f9db9;
	height: 26px;
	line-height: 26px;
	width: 235px;
	padding: 0 4px
}

.valid-msg {
	color: #ccc
}

.invalid-msg {
	color: #df0000 !important
}

.Btn {
	background: #3B5998;
	font-weight: normal;
	width: 90px;
	height: 32px;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	color: #fff !important;
	border: medium none;
	cursor: pointer;
	vertical-align: middle;
	font-size: 14px;
	text-shadow: 0px -1px 0px #0b5098;
}

.Btn:hover {
	background-position: -100px top;
	text-decoration: none;
}

.Btn_s {
	background-position: left -34px;
	height: 23px;
	width: 58px;
	line-height: 23px;
	font-size: 12px;
	text-shadow: none
}

.Btn_s:hover {
	background-position: -100px -34px;
}

.Btn_s1 {
	background-position: left -59px;
	height: 23px;
	width: 58px;
	line-height: 23px;
	font-size: 12px;
	color: #666 !important;
	text-shadow: none
}

.Btn_s1:hover {
	background-position: -100px -59px;
}

.Btn_iknow {
	background-position: left -84px;
	height: 23px;
	width: 70px;
	line-height: 23px;
	font-size: 12px;
	text-shadow: none;
	color: #666 !important;
	text-indent: 12px;
}

.Btn_iknow:hover {
	background-position: left -84px;
}

.Btn_s2 {
	background-position: left -108px;
	height: 30px;
	width: 85px;
	line-height: 30px;
	font-size: 12px;
	color: #fff !important;
	text-shadow: none
}

.Btn_s2:hover {
	background-position: -100px -108px;
}

.Btn_s3 {
	background-position: left -140px;
	height: 30px;
	width: 119px;
	line-height: 30px;
	font-size: 12px;
	color: #fff !important;
	text-shadow: none
}

.Btn_s3:hover {
	background-position: -150px -140px;
}

.i_warning {
	background: url(/images/adminLogin/icons.gif) left top no-repeat;
	padding-left: 30px
}

.i_wholeReview {
	background: url(/images/adminLogin/icons.gif) left -30px no-repeat;
	padding-left: 24px
}

.i_detail {
	background: url(/images/adminLogin/icons.gif) left -60px no-repeat;
	padding-left: 24px
}

.i_wrongReview {
	background: url(/images/adminLogin/icons.gif) left -90px no-repeat;
	padding-left: 24px
}

.i_tableList {
	
}

.loading {
	background: url(/images/adminLogin/loading.gif) center no-repeat
		!important;
	height: 36px !important;
	min-height: 36px;
	_height: 36px
}

/*common*/
.location {
	padding: 14px;
}

.body {
	margin: 0;
	padding-bottom: 10px;
	background: #fff
}

.container_960 {
	width: 960px;
	margin: 0 auto;
}

.headAlter {
	background: #fffee3;
	border-color: 1px solid #e3d2ae;
	position: absolute;
	right: .5%;
	top: 44px;
	padding: 4px 10px;
}

.super_due {
	padding-left: 60px;
	position: relative;
	margin: 20px;
	text-align: left
}

.super_due .icon {
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(/images/adminLogin/images.gif) -591px -145px no-repeat;
	width: 50px;
	height: 50px
}

.Tag_gray {
	background: #dcdcdc;
	border-bottom: 1px solid #c2c2c2;
	height: 40px;
	padding: 0 10px
}

.Tag_gray a {
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #c2c2c2;
	border-bottom: none;
	background: #fff;
	padding: 5px 10px;
	color: #666;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
}

.Tag_gray a.hover {
	font-weight: bold;
	color: #333;
	margin-top: 8px
}

.Tag_black {
	height: 58px;
}

.Tag_black .tags {
	float: left;
	height: 31px;
	width: 97px;
	background: url(/images/adminLogin/images.gif) no-repeat left -30px;
	margin-right: 10px;
	text-align: center;
	font-size: 14px;
	color: #333
}

.Tag_black .tags span {
	padding-top: 6px;
	display: block
}

.Tag_black .tags:hover {
	text-decoration: none
}

.Tag_black .active {
	background-position: left -70px;
	color: #fff;
	font-weight: bold
}

.Tag_black .tagBot {
	clear: both;
	background: url(/images/adminLogin/bg_balckTag.png) repeat-x;
	padding-bottom: 4px;
	zoom: 1;
	overflow: hidden
}

.Tag_black .tagBot a {
	margin: 0 20px;
	color: #c5c4c4;
	padding: 1px 4px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 2px;
	display: inline-block
}

.Tag_black .tagBot a.hover {
	background: #d3d3d3;
	color: #000;
}

.Tag_black .tagBot a.hover:hover {
	color: #000;
}

.Tag_black .tagBot a:hover {
	text-decoration: none;
	color: #eee
}

.checkBox {
	background: #fffee3;
	border: 1px solid #e3d2ae;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	margin: 10px 0
}

.checkBox li {
	display: inline-block;
	margin: 0 6px;
	zoom: 1;
	*display: inline
}

.head {
	height: 93px;
	background: url(/images/adminLogin/bg_head.png) repeat-x top;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	min-width: 960px;
}

.head .logo {
	margin: 20px 0 0 1%
}

.head .headLink {
	margin: 15px .5% 0 0
}

.head .headLink a {
	padding: 4px;
	background: #000;
	position: repeat;
	margin: 0;
	color: #afafaf
}

.head .headLink a:hover {
	color: #ddd;
	text-decoration: none
}

.head .headLink .enabled {
	background: #888;
	color: #000
}

.head .headLink .enabled:hover {;
	color: #000;
	cursor: default;
}

.head_simple {
	height: 40px;
	background: #3B5998;
	padding: 20px 10pt 0pt 50px;
	color: #FFF;
	font: bold 16px/20px Arial;
}

.head_simple .logo {
	margin: 20px 0 0 5px;
	z-index: 999
}

.head .head_simple .headlink {
	margin: 25px 10px 0 0
}

.mainBlockTop {
	background: #E9EAED;
	height: 8px;
	margin-top: 40px
}

.mainBlockBot {
	background: #E9EAED;
	height: 8px;
}

.mainBlock {
	background: #E9EAED;
	padding: 40px 200px
}

.foot {
	text-align: center;
	color: #4F4F4F;
	padding: 20px 0;
	clear: both
}

.foot a {
	color: #fff;
	padding: 0 8px
}

.stepBar {
	height: 37px;
	text-align: center;
	margin-bottom: 30px
}

.stepBar div {
	display: inline-block;
	background: url(/images/adminLogin/images.gif) no-repeat;
	margin: 0 10px;
	zoom: 1;
	*display: inline;
}

.stepBar div span {
	padding: 6px 0 6px 44px;
	display: block;
	font-size: 16px;
	font-family: 'Î¢ÈíÑÅºÚ';
	text-align: left
}

.stepBar .next {
	height: 37px;
	width: 26px;
	background-position: -700px -25px;
}

.stepBar .stepOne, .stepBar .stepOne_activate {
	background-position: -185px -24px;
	width: 171px;
	height: 37px
}

.stepBar .stepOne_activate {
	background-position: -185px -66px;
	color: #fff;
}

.stepBar .stepTwo, .stepBar .stepTwo_activate {
	background-position: -362px -24px;
	width: 264px;
	height: 37px
}

.stepBar .stepTwo_activate {
	background-position: -362px -66px;
	color: #fff;
}

.rivalList {
	font-size: 12px;
	width: 700px;
}

.rivalList th {
	background: #525252;
	color: #fff;
}

.rivalList td, .rivalList th {
	text-align: center;
	height: 28px;
}

.rivalList td {
	background: #f8f8f8;
}

div.pager {
	font-size: 0.85em;
	margin: 3px;
	font-family: tahoma, helvetica, sans-serif;
	text-align: right;;
}

div.pager a {
	border: 1px solid #ccc;
	color: #666;
	margin-right: 3px;
	padding: 2px 8px;
	text-decoration: none;
	background: #eee;
}

div.pager a:hover {
	border: #555 1px solid;
	background-image: none;
	background: #777;
	color: #fff
}

div.pager a:active {
	border-right: #555 1px solid;
	background-image: none;
	color: #fff;
	background-color: #777
}

div.pager .pgCurrent {
	color: #000000;
	font-weight: bold;
	margin-right: 3px;
	padding: 2px 6px;
	border: none;
}

div.pager .disabled {
	color: #ddd
}

div.pager a.next {
	border-right: #ccdbe4 2px solid;
	border-top: #ccdbe4 2px solid;
	margin: 0px 0px 0px 10px;
	border-left: #ccdbe4 2px solid;
	border-bottom: #ccdbe4 2px solid
}

div.pager a.next:hover {
	border-right: #2b55af 2px solid;
	border-top: #2b55af 2px solid;
	border-left: #2b55af 2px solid;
	border-bottom: #2b55af 2px solid
}

div.pager a.prev {
	border-right: #ccdbe4 2px solid;
	border-top: #ccdbe4 2px solid;
	margin: 0px 10px 0px 0px;
	border-left: #ccdbe4 2px solid;
	border-bottom: #ccdbe4 2px solid
}

div.pager a.prev:hover {
	border-right: #2b55af 2px solid;
	border-top: #2b55af 2px solid;
	border-left: #2b55af 2px solid;
	border-bottom: #2b55af 2px solid
}

.searchBar {
	height: 40px;
	background: url(/images/adminLogin/bg_searchBar.png) repeat-x;
	clear: both;
	position: relative;
	z-index: 100;
}

.searchBar .opt {
	float: left;
	margin-left: 20px;
	margin-top: 10px
}

.searchBar .optKey {
	float: left;
	color: #fff
}

.searchBar .datepicker {
	float: left;
	border: none;
	height: 20px;
	line-height: 20px;
	padding: 0 4px
}

.searchBar .Btn {
	position: relative;
	top: -2px
}

.searchBar .datepicker {
	width: 76px
}

.reviewList {
	
}

.reviewList li {
	display: block;
	background: #f8f8f8;
	padding: 8px 6px;
	position: relative;
	margin-top: 8px;
	line-height: 20px;
	color: #333
}

.reviewList .info {
	margin-top: 6px;
	color: #666
}

.reviewList .info div {
	float: right
}

/*login & register*/
.loginTitle {
	background: #E9EAED;
	border-bottom: 1px dotted #888;
	height: 70px;
}

h2 {
	border-bottom: 1px dotted #888;
	height: 30px;
	display: block;
}

.loginForm {
	margin: 40px;
	font-size: 14px
}

.inputCont {
	clear: both;
	height: 40px;
}

.inputCont .key {
	float: left;
	width: 110px;
	text-align: right;
	font-size: 14px;
	padding: 4px 0
}

.inputCont .value {
	float: left;
	min-width: 250px
}

.inputCont .vInfo, .inputCont .valid-msg {
	font-size: 12px;
	color: #ccc;
}

.inputCont .invalid-msg {
	font-size: 12px;
}

.inputCont .value .text {
	border: 1px solid #7f9db9;
	height: 26px;
	line-height: 26px;
	width: 235px;
	padding: 0 4px
}

.inputCont .value .phone1 {
	width: 34px
}

.inputCont .value .phone2 {
	width: 174px
}

.inputCont .value .code {
	width: 50px
}

.inputCont .valueInner {
	padding: 2px 0;
	display: block
}

.inputCont .info {
	float: left;
	margin-left: 10px;
	font-size: 12px;
	color: #ccc;
	padding: 4px 0
}

.btnCont {
	margin: 10px 0 0 110px;
	clear: both
}

.inputCont select {
	padding: 4px;
	border: 1px solid #7f9db9
}

.authcodeCont {
	height: 50px
}

.authcodeCont .key {
	padding: 14px 0
}

.authcodeCont .invalid-msg {
	float: left;
}

.authcodeCont .info {
	padding: 14px 0
}

.errorReport {
	margin: 8px;
	color: #f00;
	margin-left: 110px
}

.doneReport {
	margin: 8px;
	color: #1e9a01;
	margin-left: 110px
}

.loginCallback {
	margin: 0 auto;
	width: 580px;
	position: relative;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 30px
}

.loginCallback .icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(/images/adminLogin/images.gif) no-repeat -138px -28px
}

.loginCallbackText {
	margin-left: 50px
}

.loginCallback h1 {
	color: #6db344;
	padding: 4px 0;
	display: block
}

.loginCallback h1.noC {
	color: #666
}

.loginCallback .icon_wrong {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(/images/adminLogin/cicons.gif) no-repeat 0 -55px
}

.contact {
	margin: 0 auto;
	width: 580px;
	position: relative;
	margin-top: 20px
}

.contact .icon {
	position: absolute;
	left: 50px;
	top: 0;
	width: 60px;
	height: 60px;
	background: url(/images/adminLogin/images.gif) no-repeat -632px -26px
}

.contact .contactText {
	margin-left: 120px;
}
/*userCenter*/
.container_UC {
	background: #ddd;
	position: relative;
}

.container_UC .sideBar {
	position: absolute;
	left: 10px;
	top: 5px
}

.container_UC .sideBar a {
	display: block;
	width: 130px;
	text-align: center;
	font-size: 14px;
	color: #666;
	padding: 4px 0;
	margin: 4px 0;
}

.container_UC .sideBar .hover {
	background: #fff;
	border: 1px solid #c5c5c5;
	border-right: none;
	font-weight: bold;
	color: #333
}

.container_UC .UCmain {
	margin-left: 140px;
	background: #fff;
	border: 1px solid #c5c5c5;
	border-right: none;
	padding: 20px 25px;
	min-height: 300px;
	_height: 300px;
	font-size: 14px
}

.container_UC h1 {
	color: #333;
	display: block;
	padding-left: 15px;
}

.container_UC h1 a {
	font-size: 12px;
	margin: 0 10px;
	font-weight: normal;
}

.container_UC .baseInfo {
	display: inline-block;
	clear: both;
	border: 1px solid #bdcbe0;
	background: #f4f6f9;
	padding: 20px 60px 20px 20px;
	margin: 15px 0
}

.container_UC .inputCont .key {
	
}

.container_UC .btnCont {
	
}

/*container_review*/
.container_review {
	background: #ddd;
	position: relative;
	zoom: 1;
	z-index: 50;
}

.container_review .sideBar {
	width: 158px;
	position: absolute;
	left: 0;
	z-index: 100
}

.container_review .reviewMain {
	background: #fff;
	min-height: 500px;
	_height: 500px;
	margin-left: 158px;
	padding-left: 20px;
	position: relative;
	z-index: 1
}

.container_review .sideBar h2 {
	background: url(/images/adminLogin/bg_reviewSideBar.png) repeat-x;
	text-align: center;
	display: block;
	color: #fff;
	padding: 6px 0;
	cursor: pointer
}

.container_review .sideBar .lv2 {
	background: #eee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d7d7d7;
	display: block;
	text-align: center;
	padding: 8px 0;
	color: #000;
	position: relative;
	z-index: 20;
	display: block;
	zoom: 1
}

.container_review .sideBar .hover {
	color: #000;
	text-decoration: none;
	background: #fff;
	border-top: 2px solid #8f8f8f;
	border-bottom: 2px solid #8f8f8f;
	padding-top: 6px;
	width: 160px;
	display: block;
	zoom: 1
}

.container_review .sideBar .noChild {
	width: 158px
}

.container_review .sideBar li {
	position: relative;
}

.container_review .sideBar .detail {
	position: absolute;
	left: 158px;
	top: 0px;
	width: 280px;
	border: 2px solid #8f8f8f;
	z-index: 10;
	background: #fff;
	display: none;
}

.container_review .sideBar .detail a {
	color: #666;
	white-space: nowrap;
}

.container_review .sideBar dl {
	border-bottom: 1px dotted #ddd;
	padding: 6px 10px 7px;
	overflow: hidden;
	zoom: 1
}

.container_review .sideBar dt {
	float: left;
	width: 80px;
	clear: left;
}

.container_review .sideBar .current {
	color: #ff9900 !important;
	font-weight: bold;
	text-decoration: none
}

.container_review .sideBar dd {
	margin-left: 84px;
	display: block;
}

.container_review .sideBar dd span {
	color: #999;
	font-weight: normal;
}

.container_review .sideBar .noReview {
	color: #999 !important;
	cursor: default
}

.container_review .sideBar .noReview:hover {
	text-decoration: none
}

.highchartsContaienr {
	width: 800px;
	height: 400px
}

.noResult {
	background: url(/images/adminLogin/images.gif) no-repeat -735px -22px;
	width: 60px;
	height: 60px;
	float: left;
	margin: 40px
}

.noResultText {
	font-size: 14px;
	color: #f00;
	margin-top: 55px;
	font-weight: bold
}

/*super*/
.container_super1 {
	width: 579px;
	float: left;
	margin: 20px 20px 0 0
}

.container_super1 .mainBlockTop {
	background-position: left -111px;
	margin: 0;
}

.container_super1 .mainBlockBot {
	background-position: left -120px;
}

.container_super1 .mainBlock {
	background: #fff;
	padding: 10px 20px;
	min-height: 750px;
	_height: 750px
}

.container_super2 {
	width: 339px;
	float: left;
	margin: 20px 0 0 0
}

.container_super2 .mainBlockTop {
	background-position: left -138px;
	margin: 0;
}

.container_super2 .mainBlockBot {
	background-position: left -147px;
}

.container_super2 .mainBlock {
	background: #fff;
	padding: 10px 20px;
	min-height: 750px;
	_height: 750px
}

h1.guanli {
	background: url(/images/adminLogin/images.gif) no-repeat -665px -89px;
	width: 128px;
	height: 42px;
	display: block
}

h1.zhaiyao {
	background: url(/images/adminLogin/images.gif) no-repeat -665px -137px;
	width: 128px;
	height: 42px;
	display: block
}

.reviewOverview {
	overflow: hidden;
	margin: 20px 0 40px
}

.reviewOverview h1 {
	display: block;
	text-align: center;
	clear: both;
	color: #333;
	margin-bottom: 10px
}

.reviewOverview dl {
	display: block;
	margin: 0 16px;
	width: 144px;
	height: 110px;
	background: url(/images/adminLogin/images.gif) no-repeat -806px -70px;
	overflow: hidden;
	font-family: 'Î¢ÈíÑÅºÚ';
	text-align: center;
	float: left;
	text-shadow: 0px 1px 0px #fff;
	color: #333
}

.reviewOverview dt {
	display: block;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
}

.reviewOverview dd {
	display: block;
	margin: 20px 0;
	font-size: 14px;
}

.reviewOverview dd span {
	color: #f00;
	font-size: 16px;
	font-weight: bold
}

.reviewSummary {
	
}

.reviewSummary dl {
	margin: 20px 0
}

.reviewSummary dt {
	display: block;
	background: url(/images/adminLogin/images.gif) no-repeat;
	width: 77px;
	height: 60px;
	float: left;
}

.reviewSummary .b1 {
	background-position: -664px -192px
}

.reviewSummary .b2 {
	background-position: -744px -192px
}

.reviewSummary .b3 {
	background-position: -823px -192px
}

.reviewSummary dd {
	background: #f8f8f8;
	display: block;
	padding: 10px 4px;
	margin-left: 90px
}

.super_charts {
	width: 300px;
	height: 200px
}

.auditTip {
	padding: 5px;
	background: #eee;
	border: 1px solid #fff
}

.auditTip div {
	padding: 4px
}

.auditTip select, .auditTip input {
	min-width: 90px;
	height: 20px
}

.auditTip button {
	width: 40px
}

.super_charts {
	width: 300px;
	height: 200px
}

#hotelinfo .key {
	width: 160px;
}

#hotelinfo .value {
	min-width: 100px;
}